{erl_opts,
    [debug_info]}.
{deps,
    [{jsone, 
        {git, "https://github.com/sile/jsone.git", 
            {branch, "master"}}},
     {debug, 
        {git, "https://github.com/ashleyjlive/debug.git", 
            {branch, "master"}}}]}.
{shell,
    [%{config, "config/sys.config"},
     {apps, [loki_h]}]}.